body, button, h1, h2, h3, h4, h5, h6, input, optgroup, select, textarea, p {
  font-family: "Source Sans Pro","Helvetica Neue",Calibre,Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0px;
}

body {
  background-color: #f1f1f1;
}

.bg-gradient {
  background: -moz-linear-gradient(45deg,rgba(15,184,188,1) 0,rgba(60,89,189,1) 100%);
  background: -webkit-gradient(linear,left bottom,right top,color-stop(0,rgba(15,184,188,1)),color-stop(100%,rgba(60,89,189,1)));
  background: -webkit-linear-gradient(45deg,rgba(15,184,188,1) 0,rgba(60,89,189,1) 100%);
  background: -o-linear-gradient(45deg,rgba(15,184,188,1) 0,rgba(60,89,189,1) 100%);
  background: -ms-linear-gradient(45deg,rgba(15,184,188,1) 0,rgba(60,89,189,1) 100%);
  background: linear-gradient(45deg,rgba(15,184,188,1) 0,rgba(60,89,189,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c59bd', endColorstr='#0FB8BC', GradientType=1 );
}

.card-shadow {
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    border-radius: 0px;
}

button:focus, input:focus {
  outline:0;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}

.form-group label {
  margin-top: 1em;
}

.form-check-inline .form-check-label {
  margin-left: 15px;
}

.form-group .radio-inline input {
  margin-left: 15px;
}

.form-group h6 {
  margin-top: 1em;
}

.pagination {
  display: -webkit-inline-box;
}

.login-img {
  max-width: 120px;
  border-radius: 100px;
}
